<nav>
  <div id="title">
    CH
  </div>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons" title="Help Wanted">list priority_high</i>Help Wanted!
      </a>
    </li>
    <li>
      <a routerLink="mychannels" [class.activated]="currentUrl == '/mychannels'">
        <i class="material-icons" title="My Subscribed Groups">group</i> My Subscribed Groups
      </a>
    </li>
    <li>
      <a routerLink="myactivities" [class.activated]="currentUrl == '/myactivities'">
        <i class="material-icons" title="My Activities">local_activity</i> My Activities
      </a>
    </li>
    <li>
      <a routerLink="settings" [class.activated]="currentUrl == '/settings'">
        <i class="material-icons" title="Settings">settings</i> Settings
      </a>
    </li>
  </ul>

  <h3>Admin:</h3>
  <ul>
    <li>
      <a routerLink="/admin" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/admin/activities" routerLinkActive="active">Manage Activities</a>
    </li>
  </ul>
</nav>