
.activities {
    font-size: 16px;
    padding: 0 10px;
}

.activity-list-header {
    vertical-align:middle;
    font-size: 16px;

    i {
        vertical-align:middle;
    }

    span {
        vertical-align: middle;
    }

    .addBtn {
        padding: 10px;
        //width: 25%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }
      
    .addBtn:hover {
        background-color: #bbb;
    }
}
/* Clear floats after the header */
.activity-list-header::after {
    content: "";
    display: table;
    clear: both;
}

.activity-list {
    float: left;
    width: 500px;

    ul {
        margin: 0 0 0 0;
        list-style-type: none;
        padding: 0 0;
        width: 350px;
    
        a {
            color: #888;
            text-decoration: none;
            position: relative;
            display: block;
        }
    }
    li {
        position: relative;
        cursor: pointer;
        background-color: #FFF;
        margin: .5em 0;
        padding: 0.3em 0;
        //height: 1.6em;
        border-radius: 4px;
    
        span {
            vertical-align: middle;
        }
    
        i {
            vertical-align:middle;
        } 
    
        &:hover {
            color: #607D8B;
            background-color: #DDD;
            left: .1em;
        }       
        &.selected {
            background-color: #CFD8DC;
            color: white;
        }
        &.selected:hover {
            background-color: #BBD8DC;
        }
    }
}
.activities-list::after {
    content: "";
    display: table;
    clear: both;
}

.activity-details {
    float: left;
}

.activities::after {
    content: "";
    display: table;
    clear: both;
}