<div class="activities" >
  <div class="activity-list">
    <h2 style="margin:5px">My Activities</h2>
    <div class="activity-list-header">
      <span (click)="onCreateNewActivity()" class="addBtn">
          <i class="material-icons" title="Add Activity">add_circle_outline</i>
          Add Activity
      </span>
    </div>
    <ul [@flyInOut]="true">
      <li *ngFor="let activity of myActivities$ | async"
        [class.selected]="activity.id === selectedId">
        <a [routerLink]="activity.id" (click)='onSelect(activity)'>
          <span class="activity-icon">
            {{activity.id}} {{activity.name}}
          </span>
        </a>
    </li>
    </ul>
  </div>
  <div class="activity-details">
    <router-outlet></router-outlet>
  </div>
</div>