
<ngb-accordion #acc="ngbAccordion"
        [closeOthers]="true" [destroyOnHide]="true"
        (panelChange)="beforeSelectionChange($event)">
    <ngb-panel *ngFor="let summary of (summaries$ | async)" 
            id="{{ getPanelTitlePrefix() }}{{ summary.id }}"
            [disabled]="isPanelDisabled(summary.id)">

        <ng-template ngbPanelTitle *ngIf="summary.id !== 0">
            {{ summary.description }}
        </ng-template>
        <ng-template ngbPanelTitle *ngIf="summary.id === 0">
            <button type="button" class="btn btn-primary" (click)="onCreateNewEntry()">
                <i class="material-icons" title="Add Activity">add</i>
                <div class='button-text'>{{ nameOfCreateButton }}</div>
            </button>
        </ng-template>
        <!-- using ngIf directive to only load component if selected,
                else a details component is loaded for *each* element 
                in the list -->
        <ng-template ngbPanelContent *ngIf="isPanelSelected(summary.id)">
            <!-- use content projection -->
            <ng-content select=".details">
            </ng-content>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

